.backgroundArea_circleFrame_circle {
  width: 25px;
  height: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  margin-right: 12px;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;
}
